:root {
  --iriscolor: #4d5ae5;
  --navyblue: #2e2f42;
  --navcolor: #2e2f42;
  --oceancolor: #404bbf;
  --slate: #434455;
  --whitecolor: white;
  --cloudcolor: #f4f4fd;
  --cornflower: #e7e9fc;
  --lightslate: #8e8f99;
  --navybluemodal: #2e2f4266;
}

/* done */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* done */
html {
  box-sizing: border-box;
}

/* done */
*,
*::after,
*::before {
  box-sizing: inherit;
}

/* done */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* done */
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--slate);
  background-color: var(--whitecolor);
}

/* done */
.link {
  text-decoration: none;
  color: inherit;
}

/* done */
.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* done */
.container {
  width: 428px;
  margin: 0 auto;
  /*padding: 0 15px;*/
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1158px) {
    width: 1158px;
  }
}

/* done */
.section {
  padding-top: 96px;
  padding-bottom: 96px;

  @media screen and (min-width: 1158px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

/* done */
.section.no-top-padding {
  padding-top: 0;
}

/* done */
.page-header {
  border-bottom: 1px solid var(--cornflower);
}

/* done */
.logo-link {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 0;
  font-weight: 800;
}

/* done */
.logo-link > span {
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

/* done */
.logo {
  color: var(--iriscolor);
}

/* done */
.studio {
  color: var(--navyblue);
}

/* done */
.studio-footer {
  color: var(--cloudcolor);
}

/* done */
.menu,
.navigation {
  display: flex;
  align-items: center;
}

.nav-menu,
.contacts-menu {
  display: none;
  align-items: center;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.contacts-menu {
  @media screen and (min-width: 768px) {
    padding-left: 60px;
    flex-wrap: wrap;
  }
}

/* done */
.nav-menu {
  margin-left: 93px;
}

/* done */
.contacts-menu {
  margin-left: auto;
}

/* done */
.nav-menu .item:not(:last-child),
.contacts-menu .item:not(:last-child) {
  margin-right: 50px;
}

/* done */
.nav-menu .page,
.contacts-menu .contact {
  color: var(--navcolor);
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 32px;
  padding-bottom: 31px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* done */
.nav-menu .page:hover,
.nav-menu .page:focus,
.nav-menu .page.current,
.contacts-menu .contact:hover,
.contacts-menu .contact:focus {
  color: var(--oceancolor);
}

.page {
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page::after {
  content: "";
  border-radius: 2px;
  border: 2px solid transparent;
  height: 4px;
  width: 0;
  position: absolute;
  left: 0;
  bottom: -1px;
  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page:hover::after,
.page:focus::after,
.page.current::after {
  border: 2px solid var(--oceancolor);
  background-color: var(--oceancolor);
  width: 100%;
}
/* done */
.contacts-menu .contact {
  color: var(--slate);
  font-weight: 400;
}

/* done */
.hero {
  padding: 100px 0;
  text-align: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.78),
      rgba(46, 47, 66, 0.78)
    ),
    url(../images/hero-bg-mob.jpg);
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 432px;

  @media screen and (min-width: 768px) {
    background-image: unset;
  }

  /* Mobile 2x */
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/hero-bg-mob@2x.jpg);
  }

  /* Tablet */
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.78),
        rgba(46, 47, 66, 0.78)
      ),
      url(../images/hero-bg-tab.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    /* Tablet 2x */
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/hero-bg-tab@2x.jpg);
    }
  }

  /* Desktop */
  @media screen and (min-width: 1158px) {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.78),
        rgba(46, 47, 66, 0.78)
      ),
      url(../images/hero-bg-desk.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  /* Desktop 2x */
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/hero-bg-desk@2x.jpg);
  }
}

/* done */
.hero-title {
  color: var(--whitecolor);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.04em;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    font-size: 56px;
  }
}

/* done */
.button {
  cursor: pointer;
  border-color: transparent;
  font-family: inherit;
  border-radius: 4px;
  font-size: 16px;
  letter-spacing: 0.03em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* done */
.button.primary {
  background: var(--iriscolor);
  color: var(--whitecolor);
  line-height: 1.87;
  letter-spacing: 0.06em;
  font-weight: 500;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* done */
.button.primary:hover,
.button.primary:focus {
  background-color: var(--oceancolor);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* done */
.button.filter {
  padding: 12px 24px;
  background-color: var(--cloudcolor);
  color: var(--iriscolor);
  font-weight: 500;
  line-height: 1.62;
}

/* done */
.button.filter:hover,
.button.filter:focus,
.button.filter.current {
  background-color: var(--oceancolor);
  color: var(--cloudcolor);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* done */
.bg-team {
  background: var(--cloudcolor);
}

/* done */
.team {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

/* done */
.team .item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  padding-bottom: 30px;
  background-color: var(--whitecolor);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* done */
.team .name,
.team .position {
  line-height: 1.19;
  text-align: center;
}

/* done */
.team .name {
  font-size: 20px;
  font-weight: 500;
  color: var(--navyblue);
  padding-top: 30px;
  padding-bottom: 10px;
}

/* done */
.team .position {
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
}

.social-team {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
  list-style-type: none;
}

.social-team .icon-item {
  width: 40px;
  height: 40px;
}

.icon-item .link {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--iriscolor);
  color: var(--cloudcolor);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-item .link:hover,
.icon-item .link:focus {
  background-color: var(--oceancolor);
}

.team-social-svg {
  fill: currentColor;
}

/* done */
.section-title {
  text-align: center;
  color: var(--navyblue);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  margin-bottom: 50px;
}

/* done */
.benefits .title {
  font-size: 20px;
  font-weight: 500;
  color: var(--navyblue);
  line-height: 1.14;
  margin-bottom: 10px;
}

/* done */
.benefits .description {
  color: var(--slate);
  line-height: 1.71;
  font-size: 16px;
  font-weight: 400;
}

/* done */
.benefits {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;

  @media screen and (min-width: 1158px) {
    flex-wrap: nowrap;
  }
}

/* done */
.benefits .item {
  flex-basis: calc(100% / 4-30px);
  margin-left: 30px;
  margin-top: 30px;
}

.benefits .icon {
  width: 264px;
  height: 112px;
  background-color: var(--cloudcolor);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 8px;
}

/* done */
.what-we-do {
  display: none;
  /*flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;*/

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }

  @media screen and (min-width: 1158px) {
    flex-wrap: nowrap;
  }
}

/* done */
.what-we-do .item {
  flex-basis: calc(100% / 3-30px);
  margin-left: 30px;
  margin-top: 30px;
}

.partners {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;

  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
  }
}

.partners .item {
  width: 168px;
  height: 88px;
}

.partners .link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--lightslate);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--lightslate);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.partners .link:hover,
.partners .link:focus {
  border-color: var(--oceancolor);
  color: var(--oceancolor);
}

.partners .customers-svg {
  width: 104px;
  height: 56px;
}

.partners .icon {
  fill: currentColor;
}

/* done */
.page-footer {
  background: var(--navyblue);
  padding: 60px 0 60px 60px;
}

.footer {
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: -12px;
  margin-left: -50px;
  align-items: baseline; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 72px;
  column-gap: 0;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  @media screen and (min-width: 1158px) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 96px;
    row-gap: 0;
  }
}

.footer-address {
  margin-top: 12px;
  margin-left: 25px;
}

/* done */
.footer-description {
  color: var(--whitecolor);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  padding-top: 17px;
}

.footer .footer-block {
  margin-top: 12px;
  margin-left: 15px;
  align-items: center;
  justify-content: center;
}

.footer-heading {
  color: var(--whitecolor);
  /* display: flex; */
}

.social-footer {
  display: flex;
  padding-top: 10px;
  gap: 16px;
}

.social-footer .link {
  flex-wrap: wrap;
  display: flex;
  gap: 16px;
  margin-top: 16px;
}

.social-footer .link {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--iriscolor);
  margin-top: 8px;
}

.footer-block .link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-block .link:hover,
.footer-block .link:focus {
  background-color: #31d0aa;
}

.footer-social-svg {
  fill: var(--cloudcolor);
}

.footer-form form {
  display: flex;
  align-items: flex-end;
}

.footer-form {
  width: 453px;
  height: 80px;
  flex-shrink: 0;
  margin-left: 80px;
}

.footer-form-label {
  display: block;
  color: var(--whitecolor);
  font-weight: 500;
  line-height: 1.5;
}

.footer-form-input {
  color: var(--whitecolor);
  display: block;
  width: 264px;
  height: 40px;
  padding: 8px 16px;
  outline: none;
  margin-top: 16px;
  background-color: var(--navyblue);
  border-radius: 4px;
  border: 1px solid var(--whitecolor);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.footer-form-input::placeholder {
  color: var(--whitecolor);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}

.footer-form-button {
  width: 165px;
  height: 40px;
  display: inline-flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-left: 0 auto;
  font-weight: 500;
  line-height: 1.5;
  outline: none;
  border: none;
  margin-left: 24px;
  border-radius: 4px;
  color: var(--whitecolor);
  background-color: var(--iriscolor);
  cursor: pointer;
  transition: ackground-color 250ms ease-in-out;
}

.footer-form-svgsubs {
  width: 24px;
  height: 24px;
  fill: var(--whitecolor);
}

.footer-form-button:hover {
  background-color: var(--oceancolor);
}

/* done */
.filters {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

/* done */
.filters .space + .space {
  margin-left: 8px;
}

/* done */
.substrate {
  padding: 20px 24px;
  border: 1px solid var(--cornflower);
  border-top: 0;
  background-color: var(--whitecolor);
}

/* done */
.projects {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

/* done */
.project-card {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-card:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.project-cover {
  position: relative;
  overflow: hidden;
}

.project-card-text {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 40px 32px;
  background-color: var(--iriscolor);
  color: var(--cloudcolor);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project:hover .project-card-text,
.project:focus .project-card-text {
  transform: translateY(0);
}

/* done */
.project .name {
  font-size: 20px;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--navyblue);
  margin-bottom: 4px;
}

/* done */
.project .type {
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
}

/* modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  background-color: var(--dairy, #fcfcfc);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: var(--cornflower);
  color: var(--navyblue);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
  fill: currentColor;
}

.modal-close:hover,
.modal-close:focus {
  background-color: var(--oceancolor);
  color: var(--whitecolor);
}

.is-hidden {
  visibility: none;
  opacity: 0;
  pointer-events: none;
}

.modal-header {
  font-weight: 500;
  line-height: 1.5;
  font-size: 16px;
  text-align: center;
  color: var(--navyblue);
  margin-bottom: 34px;
}

.modal-label {
  display: block;
  position: relative;
  line-height: 1.1;
  margin-bottom: 30px;
  font-size: 12px;
}
.modal-label-text {
  position: absolute;
  top: -13px;
  font-weight: 400;
  line-height: 14px;
  line-height: 0.07px;
  letter-spacing: 0.01em;
  color: var(--lightslate);
}
.modal-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: var(--navyblue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover + .modal-input-icon,
.modal-input:focus + .modal-input-icon {
  fill: var(--iriscolor);
}

.modal-input,
.modal-textarea {
  display: block;
  width: 100%;
  margin-bottom: 29px;
  padding: 11px 16px 11px 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  line-height: 0.07px;
  letter-spacing: 0.01em;
  color: var(--navyblue);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover,
.modal-input:focus,
.modal-textarea:hover,
.modal-textarea:focus {
  outline: none;
  border-color: var(--iriscolor);
}
.modal-textarea {
  resize: none;
  height: 120px;
  padding-left: 16px;
}

.modal-agreement {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 24px;
  gap: 8px;
  height: 16px;
  width: 360px;
}

.modal-checkbox {
  appearance: none;
  position: absolute;
}

.modal-checkbox-icon {
  cursor: pointer;
  display: block;
  fill: none;
  border: 1px solid var(--navybluemodal);
  border-radius: 2px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    ckground-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox:checked + .modal-checkbox-icon {
  background-size: contain;
  background-color: var(--iriscolor);
  border-color: var(--iriscolor);
  fill: var(--whitecolor);
  border-radius: 2px;
  border: 1px solid var(--iriscolor);
  cursor: pointer;
}

span.agree-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1;
  color: var(--lightslate);
}

.form-terms {
  color: var(--iriscolor);
}

.button-center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 20px;
  width: 169px;
  height: 56px;
}

/* Hamburger Menu Open */
.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: auto;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  color: var(--navyblue);

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-icon {
  fill: currentColor;
}

/* Hamburger Nav & Close icon */
.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 50px;
  background-color: var(--whitecolor);
  z-index: 200;

  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
  transform: translateX(0);
}

.mob-menu-item {
  margin-bottom: 32px;
}

.mob-menu-link {
  display: block;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--navyblue);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-link:hover,
.mob-menu-link:focus,
.mob-menu-link.current {
  color: var(--oceancolor);
}

.mob-add-item {
  font-style: normal;
  margin-bottom: 32px;
  list-style: none;
}

.mob-add-contact {
  color: var(--slate);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-add-contact.current,
.mob-add-contact:hover,
.mob-add-contact:focus {
  color: var(--iriscolor);
  font-size: 32px;
}

.mob-social-list {
  display: flex;
  justify-content: space-between;
}
